<div style="text-align:center; margin-top: 100px;">
    <div id="load">
        <div>
            <img src="../../assets/kamo_colorful_logo.png">
        </div>
        <div>
            <img src="../../assets/kamo_colorful_logo.png">
        </div>
        <div>
            <img src="../../assets/kamo_colorful_logo.png">
        </div>
        <div>
            <img src="../../assets/kamo_colorful_logo.png">
        </div>
    </div>
    <h1 *ngIf="loaded">
        Click Window To Start!
    </h1>
    <h1 *ngIf="!loaded">
        Loading Now!
    </h1>
</div>