<mat-card class="info_card">
    <mat-card-header>
        <mat-card-title>Infomations</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <ul>
            <li class="item">
                <p class="date">2019/7/29</p>
                <p class="body">バグ修正しました。</p>
            </li>
            <li class="item">
                <p class="date">2019/7/28</p>
                <p class="body">Youtubeで配信してます。</p>
            </li>
            <li class="item">
                <p class="date">2019/7/28</p>
                <p class="body">ベータ版リリースしました!!</p>
            </li>
        </ul>
    </mat-card-content>
</mat-card>
      