<app-toolbar [screenType]="screenType" [trend]="trend" [linkTrend]="linkTrend" (ToggleSidebar)="toggleSidebar()" (ShowTrend)="showTrend()">
</app-toolbar>
<mat-sidenav-container class="all-container" [ngStyle]="{'top': topPosition}">
    <mat-sidenav #sidenav position="start" [class]="sidebarCSS" mode="over" [opened]="isOpened"
        [ngStyle]="{'width': sideNavWidth}">
        <app-sidebar></app-sidebar>
    </mat-sidenav>
    <mat-sidenav-content class="main_container">
        <app-display></app-display>
    </mat-sidenav-content>
</mat-sidenav-container>

<app-sp-trend [IsShown]="IsShown" [trend]="trend"></app-sp-trend>
<app-sp-button (ToggleSidebar)="toggleSidebar()" (ShowTrend)="showTrend()"></app-sp-button>