<mat-nav-list>
    <a mat-list-item (click)="openLink($event)">
      <span mat-line>1.hogehoge</span>
    </a>
    <a mat-list-item (click)="openLink($event)">
      <span mat-line>2.hugehuge</span>
    </a>
    <a mat-list-item (click)="openLink($event)">
      <span mat-line>3.hogahoga</span>
    </a>
    <a mat-list-item (click)="openLink($event)">
      <span mat-line>4.hugahuga</span>
    </a>
    <a mat-list-item (click)="openLink($event)">
      <span mat-line>5.あああああああああああ</span>
    </a>
  </mat-nav-list>