<div [class]="tweetCardCN" [id]="tweetCardId"
[ngStyle]="{'display': display,'z-index':zIndex}">
  <mat-card class="tweet-card" (click)="onClick()">
    <mat-card-content>
      <p>
        {{tweet.Text}}
      </p>
      <div class="inner-footer">
        <ul>
          <li class="user-name">
            <a [href]="userPage" target="_blank">
              @{{tweet.User}}
            </a>
          </li>
          <li class="date">date: {{tweet.Date}}</li>
        </ul>
      </div>
    </mat-card-content>
  </mat-card>
</div>


