a:visited {
    color: blue;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 400px;
}

.container .text {
    flex: 1;
}

.text p{
    word-break: break-word;
    width: 400px;   
    width:100%;
    float: left;
}

.tweet-card {
    max-width: 300px;
    min-width: 300px;
    background-color: white;
    margin: 0;
    padding: 20px !important;
    border-radius: 26.5px !important;
  }

.inner-footer ul{
    padding: 0;
    margin: 0;
}

.inner-footer ul li{
    font-size: 10px;
    margin-right: 3em;
    display: inline;
}

li .user-name{
    margin-right: 10px;
    text-align: left;
}

li .date{
    text-align: right;
}

/*カード初期位置を画面外に設定*/
.base{
    position:absolute;
    right:-5px;
}
.hidden{
    position:absolute;
    left:5px;
}

.show{
    opacity: .85;
    display: block;
    animation-timing-function: linear;
    animation-fill-mode: both;
}

.collapsed{
    display: none;
}

@keyframes animation2 {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-200%);
    }
}

@keyframes animation3 {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-300%);
    }
}

@keyframes animation4 {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-400%);
    }
}

@keyframes animation5 {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-500%);
    }
}

@keyframes animation6 {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-600%);
    }
}

@keyframes animation7 {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-700%);
    }
}

@keyframes animation8 {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-800%);
    }
}

@keyframes animation9 {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-900%);
    }
}

@keyframes animation10 {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-1000%);
    }
}

@keyframes animation01 {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-500%);
    }
}

@keyframes animation01 {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-500%);
    }
}