<div [class]="className" [id]="id"
[ngStyle]="{'display': display,'z-index':zIndex}">
  <mat-card class="tweet-card">
    <mat-card-content>
      <div class="container">
        <div class="text">
          <p>
            {{text.Text}}
          </p>
        </div>
      </div>
      <div class="inner-footer">
        <ul>
          <li class="user-name">
            <a [href]="userPage" target="_blank">
              @{{text.User}}
            </a>
          </li>
          <li class="date">date: {{text.Date}}</li>
        </ul>
      </div>
    </mat-card-content>
  </mat-card>
</div>
