h2 {
  height: 1.5em;
  text-align: center;
  margin: 0;
  color: white;
  font-size: 80%;
  background-color: #2d6fd8;
  border-radius: .5em .5em 0 0;
}
h3 {
  margin: 0;
  height: 1.5em;
  color: white;
  font-size: 80%;
  background-color: #2d6fd8;
}

ul {
  margin: 0;
  list-style-type: none;
  padding: 0;
  height: 20.7em;
  overflow: auto;
}
ul li {
  font-size: .7em;
  text-align: left; 
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #e0eaf9;
  padding: .3em 0;
  height: 5.9em;
}

ul li + li {
    border-top:none;
}

ul .text {
  position: relative;
  top: -3px;
}

.account-field {
  text-align: right;
}

.keyword-field {
  text-align: right
}
