<mat-toolbar>
  <mat-toolbar-row class="toolbar">
    <ng-container *ngIf="screenType === 0">
        <button mat-button (click)="toggleSidebar()">
            <mat-icon aria-hidden="false">dehaze</mat-icon>
        </button>
        <img class="logo" [src]="logoSrc"/>
        <img class="icon" alt="Logo" [src]="imgSrc">
        <a class="trend" [href]="linkTrend"  target="_blank">
            {{trend}}
        </a>
    </ng-container>
    <ng-container *ngIf="screenType === 1">
        <img class="sp-logo" [src]="logoSrc"/>
        <img class="sp-icon" alt="Logo" [src]="imgSrc">
        
    </ng-container>

  </mat-toolbar-row>
</mat-toolbar>

<ng-container *ngIf="screenType === 1">
    <app-sp-button (spToggleSidebar)="toggleSidebar()"></app-sp-button>
</ng-container>
