.toolbar {
    color: white;
    background-color: #1e569e;
}

.logo {
    margin-left: 5px;
    margin-right: 5px;
    height: 50px;
}

.icon {
    margin-left: 0;
    height: 25px;
}

.sp-logo {
    margin-right: 5px;
    height: 50px;
}

.sp-icon {
    margin-left: 0;
    height: 25px;
}

a.trend {
    text-decoration:none;
    margin: auto 0 auto auto;
    color: white;
}

a.trend:hover {
    text-decoration: underline;
}