.sidebar {
    color: white;
    background-color: #57c4b9;
    text-align: center;
    width: 300px;
}

.main_container{
    color: black;
    background-color: #f5f5f5;
}

.btn-twitter {
    color: white;
    display: inline-block;
    height: 50px;
    width: 190px;
    margin-bottom: 20PX;
    text-align: center;
    font-size: 25px;
    background: #1da1f3;
  }

.tw_logo{
    height: 40px;
}

.btn-youtube {
    display: inline-block;
    height: 50px;
    width: 190px;
    margin-top: 20PX;
    margin-bottom: 20PX;
    background: black;
}

.yt_logo{
    height: 25px;
}

 .bmc-button{
    line-height: 36px;
    height: 50px;
    width: 190px;
    margin-bottom: 20PX;
    color:#FFFFFF;
    background-color:#FF813F;
    padding: 1px 9px;
    font-size: 22px;
    font-family:'Cookie', cursive;
}
   
                                
