.all-container {
    position: absolute;
    top: 64px;
    bottom: 0;
    left: 0;
    right: 0;
    /* ダークモード用 */
    /* background-color: #131313; */
    background: -moz-linear-gradient(bottom, #DDA288, #8593AE 30%, #5b647c); 
    background: -webkit-linear-gradient(bottom, #DDA288, #8593AE 30%, #5b647c); 
    background: linear-gradient(to top, #DDA288, #8593AE 30%, #5b647c); 
  }

.center{
    padding: 20%;
    text-align: center;
}

.sidebar_PC {
    color: white;
    text-align: center;
    max-width: 100%;
    height: auto;
    /* background: repeat top/105% url("../../assets/81878430.jpeg"); */
    /* 灰色の透過度を0にすることで、無色透明にしてある */
    background: rgba(128, 128, 128, 0);
    border: 0px;
}

.sidebar_SP {
    color: white;
    text-align: center;
    max-width: 100%;
    height: auto;
    /* background: repeat top/105% url("../../assets/81878430.jpeg"); */
    /* 灰色の透過度を0にすることで、無色透明にしてある */
    background: rgba(128, 128, 128, 0);
    border: 0px;
}

ul{
    list-style: none;
    padding-left:0;
}

.btn-twitter {
    color: white;
    display: inline-block;
    height: 50px;
    width: 190px;
    margin-bottom: 20PX;
    text-align: center;
    font-family: Helvetica Neue;
    font-weight: bold;
    font-size: 25px;
    background: #1da1f3;
  }

.logo{
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.icon{
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-youtube {
    display: inline-block;
    height: 50px;
    width: 190px;
    margin-bottom: 20px;
    background: black no-repeat center/55% url("../../assets/yt_logo_rgb_dark.png");
}

.tw_logo{
    height: 40px;
    width: 40px;
    margin-left:0;
    margin-right:0;
}

.bmc-button{
    line-height: 36px;
    height: 50px;
    width: 190px;
    margin-top: 20px;
    margin-bottom: 20px;
    color:#FFFFFF;
    padding: 1px 9px;
    font-size: 22px;
    font-family:'Cookie', cursive;
    background: #FF813F no-repeat 7px/15% url("../../assets/BMC-btn-logo.svg");
    padding-left: 20px;
}

li.version{
    color:black;
    font-size: 15px;
}

.trend-container {
    margin-top:10px;
    margin-bottom: 10px;
    width: 100%;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.9);
}

.trend-container a{
    margin-left: auto;
    margin-right: auto;
    color:#18447e;
    height:auto;
    font-size: 4.7vw;
    font-weight: bold;
    text-decoration:none;
    position: relative;
    top: 7px;
}

.sidebar a{
    text-decoration:none;
}

.main_container{
    position: relative;
    overflow: hidden; 
}

:focus{
    outline: transparent;
}