<mat-sidenav-container [ngStyle]="{'height': sidenav_height}">
    <mat-sidenav #sidenav position="start" class="sidebar" mode="side" opened="{{open_close}}">
        <div>Sidenav content</div>
        <button mat-button (click)="sidenav.toggle()">
                example
                {{open_close}}
        </button>
    </mat-sidenav>
    <mat-sidenav-content class="main_container">
         <span>{{trend}}</span>
        <div>Main content</div>
    </mat-sidenav-content>
</mat-sidenav-container>