.sidebar {
    color: white;
    background-color: #57c4b9;
    text-align: center;
    width: 300px;
}

.main_container{
    color: black;
    background-color: #f5f5f5;
}

.btn-twitter {
    color: white;
    display: inline-block;
    height: 50px;
    width: 190px;
    text-align: center;
    font-size: 25px;
    line-height: 50px;
    background: #1da1f3;
  }

  .btn-youtube {
    display: inline-block;
    height: 50px;
    width: 190px;
    background: black;
  }

  .yt_logo{
    height: 25px;
  }

  .tw_logo{
    height: 40px;
  }
