<div [id]="id" class="center"
[ngStyle]="{'display': data.display}">
<div>
  <mat-card class="ad-card">
    <mat-card-content>
        <a target="_blank"  href="https://www.amazon.co.jp/gp/product/B07MF1HTWR/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=B07MF1HTWR&linkCode=as2&tag=tomatonote-22&linkId=09b349c89331efc57bca60fe0361d8bd">
          <img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=JP&ASIN=B07MF1HTWR&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL110_&tag=tomatonote-22" >
        </a>
        <img src="//ir-jp.amazon-adsystem.com/e/ir?t=tomatonote-22&l=am2&o=9&a=B07MF1HTWR" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
  </mat-card-content>
  </mat-card>
</div>
