@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }
body { margin: 0; font-family: "M PLUS Rounded 1c"; }

* {
    margin: 0 auto;
}
html,body{
    height: 100%;
    position: relative;
    overflow: hidden;
} 

.center{
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    margin: auto;
}

.display-card{
    max-width: 400px !important;
    height: auto;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    margin: auto;
}

.tweet-card {
    max-width: 300px;
    min-width: 300px;
    background-color: white;
    margin: 0;
  }

  .inner-footer ul{
    padding: 0;
    margin: 0;
}

.inner-footer ul li{
    font-size: 10px;
    margin-right: 3em;
    display: inline;
}

li .user-name{
    margin-right: 10px;
    text-align: left;
}

li .date{
    text-align: right;
}
